<!-- forgot-password.component.html -->
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-rebeccapurple text-2xl font-bold sm:text-3xl">
      Forgot Password
    </h1>
  </div>

  <form action="" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    <div>
      <label
        for="username"
        class="mt-1 p-2 w-full relative block rounded-md border border-gray-200 shadow-sm focus-within:border-aureolin focus-within:ring-1 focus-within:ring-aureolin"
      >
        <input
          type="email"
          id="username"
          class="peer border-none bg-transparent placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0"
          placeholder="username"
        />

        <span
          class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-jet transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs"
        >
          Email
        </span>
      </label>
    </div>

    <div class="flex items-center justify-between">
      <!-- TODO:Figure out why the bg-pink-500 displays but bg-aureolin and bg-rebeccapurple don't display  -->
      <button
        type="submit"
        class="bg-pink-500 w-full inline-block shrink-0 rounded-md border border-rebeccapurple px-12 py-3 text-sm font-medium text-rebeccapurple transition hover:bg-rebeccapurple hover:text-aureolin focus:outline-none focus:ring"
      >
        Reset Password
      </button>
    </div>
    <p class="text-center mt-4 text-sm text-jet">
      Remember your password?
      <a href="/SignIn" class="underline hover:text-aureolin text-rebeccapurple"
        >Sign in</a
      >
    </p>
  </form>
</div>
