<footer class="text-jet bg-rebeccapurple body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap md:text-left text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-jet hover:text-white">First Link...</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Second Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Third Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-jet hover:text-white">First Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Second Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Third Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          CATEGORIES
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-jet hover:text-white">First Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Second Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Third Link</a>
          </li>
          <li>
            <a class="text-jet hover:text-white">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          SUBSCRIBE
        </h2>
        <div
          class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start"
        >
          <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
            <label
              for="username"
              class="mt-1 p-2 w-full relative block rounded-md border border-gray-200 shadow-sm focus-within:border-aureolin focus-within:ring-1 focus-within:ring-aureolin"
            >
              <input
                type="email"
                id="username"
                class="peer border-none bg-transparent placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0"
                placeholder="username"
              />

              <span
                class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-rebeccapurple p-0.5 text-xs text-aureolin transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs"
              >
                Email
              </span>
            </label>
          </div>
          <button
            class="text-jet focus:outline-none focus:ring-2 focus:ring-aureolin focus:text-rebeccapurple focus:bg-aureolin bg-aureolin hover:border-2 hover:border-dashed hover:border-aureolin hover:text-aureolin hover:bg-rebeccapurple px-3 py-2 rounded-md text-sm font-medium"
          >
            Button
          </button>
        </div>
        <p class="text-jet text-sm mt-2 md:text-left text-center">
          Bitters chicharrones fanny pack
          <br class="lg:block hidden" />waistcoat green juice
        </p>
      </div>
    </div>
  </div>
  <div class="bg-jet bg-opacity-75">
    <div
      class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col"
    >
      <a
        class="flex title-font font-medium items-center md:justify-start justify-center text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-10 h-10 text-rebeccapurple p-2 bg-aureolin rounded-full"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
          ></path>
        </svg>
        <span class="ml-3 text-xl">Tailblocks</span>
      </a>
      <p class="text-sm text-aureolin sm:ml-6 sm:mt-0 mt-4">
        © 2020 Tailblocks —
        <a
          href="https://twitter.com/knyttneve"
          class="text-aureolin ml-1"
          target="_blank"
          rel="noopener noreferrer"
          >nyttneve</a
        >
      </p>
      <span
        class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
      >
        <a class="text-aureolin">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-aureolin">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-aureolin">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path
              d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
            ></path>
          </svg>
        </a>
        <a class="ml-3 text-aureolin">
          <svg
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="0"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
            ></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
